####################################################################################################
#                                            .gitignore                                            #
####################################################################################################
# macOS.
.DS_Store

# Terraform.
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
.terraform/

# Vim.
.*.swo
.*.swp

# Visual Studio Code.
.history/
.metals
.vscode
