####################################################################################################
#                                            .gitignore                                            #
####################################################################################################
# IntelliJ.
/.idea
*.iml
/.ijwb

# macOS.
.DS_Store

# Vagrant.
.vagrant/

# Vim.
.*.swo
.*.swp

# Visual Studio Code.
.metals
.vscode
